extends layout 

block content
  h1= title
  hr
  form(action="" method='POST')
    div.formGroup
      label(form='name') Name: 
      input#name.formInput(type='text' placeholder='Name' name='name' required='true' value=(undefined === category ? '' : category.name)) 
    div.formGroup
      label(form='description') Description: 
      input#description.formInput(type='text' placeholder='Description' name='description' required='true' value=(undefined === category ? '' : category.description)) 
    button(type='submit') Submit

    if errors 
      ul
        for error in errors
         li!= error.msg