extends layout

block content
  h1.title= title
  hr
  ul.categoriesList
    each category in categories
      a(href=category.url)
        li.category= category.name
    a.addCategory(href='inventory/category/create/')
      button.addCategoryBtn(type='button') add category